{{ $input := . }}
{{ $data := dict }}

{{ if eq $input.sessionizeId "test" }}
    {{ $path := "test/sessionize-view-all.json" }}
    {{ with resources.Get $path }}
        {{ $data = . | transform.Unmarshal }}
    {{ else }}
        {{ errorf "Unable to get test data resource %q." $path }}
    {{ end }}
{{ else }}
    {{ $path := "sessionize-view-all.json" }}
    {{ with resources.Get $path }}
        {{ $data = . | transform.Unmarshal }}
    {{ else }}
        {{ errorf "Unable to get data resource %q." $path }}
    {{ end }}
{{ end }}

{{ return $data }}
